/* Price List Css */
.Price-component-body {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    align-items: center;
}



  .button1:hover {
    background-color: #0275d8;
    /* color: white; */
  }

  .input {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .input-width {
      width: 15%; 
  }

  .form-width {
      margin-bottom: 10px;
  }

  .form-width-1 {
    margin-bottom: 10px;
    margin-left: 5px;
}


/* Price Grid Css */

.Price-grid-Inputs {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content:space-between; */
}

.Grid-Button{
  margin-top: 26px;
  background-color:	#4169e1;
  border: none;
  color: white;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  /* padding: 10px; */
}

.heading-price-grid{
  margin-left: 70px;
}